# Prefer inbox.html over index.html
DirectoryIndex inbox.html index.html

# Force HTTPS
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
